* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
header {
    padding: 20px 35px;
    background-color: #2F3663;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #69709B;
    margin: 0;
    display: inline;
    background-color: #69709B;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
  }

  header a {
    color: #69709B;
    text-decoration: none;
    color: #2F3663;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: #69709B;
    font-weight: 400;

  }

  .hero {
    background-image: url("../images/glacier.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero h3 {
    background-color: #69709B;
    padding: 20px;
    width: 350px;
    color: #2F3663;
    border: solid 3px #2F3663;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-weight: 400;
}